@import "tailwindcss";
@import "uniwind";

@layer theme {
  :root {
    @variant light {
      --color-body-bg: #f4f4f0;
      --color-background: #ffffff;
      --color-foreground: hsl(240 10% 3.9%);
      --color-primary: hsl(240 5.9% 10%);
      --color-primary-foreground: hsl(0 0% 98%);
      --color-secondary: hsl(240 4.8% 95.9%);
      --color-secondary-foreground: hsl(240 5.9% 10%);
      --color-muted: hsl(240 4.8% 95.9%);
      --color-muted-foreground: hsl(240 3.8% 46.1%);
      --color-accent: #ff90e8;
      --color-accent-foreground: hsl(240 5.9% 10%);
      --color-destructive: hsl(0 84.2% 60.2%);
      --color-destructive-foreground: hsl(0 0% 98%);
      --color-border: hsl(240 5.9% 90%);
      --color-input: hsl(240 5.9% 90%);
      --color-ring: hsl(240 5.9% 10%);
    }

    @variant dark {
      --color-body-bg: #242423;
      --color-background: #000000;
      --color-foreground: hsl(0 0% 98%);
      --color-primary: hsl(0 0% 98%);
      --color-primary-foreground: hsl(240 5.9% 10%);
      --color-secondary: hsl(240 3.7% 15.9%);
      --color-secondary-foreground: hsl(0 0% 98%);
      --color-muted: hsl(240 3.7% 15.9%);
      --color-muted-foreground: hsl(240 5% 64.9%);
      --color-accent: #ff90e8;
      --color-accent-foreground: hsl(0 0% 98%);
      --color-destructive: hsl(0 62.8% 30.6%);
      --color-destructive-foreground: hsl(0 0% 98%);
      --color-border: hsl(240 3.7% 15.9%);
      --color-input: hsl(240 3.7% 15.9%);
      --color-ring: hsl(240 4.9% 83.9%);
    }
  }
}
